<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<!-- Created By Mima -->
<head>
   <meta charset="utf-8">
   <title>Rent A Chef</title>
   <link rel="stylesheet" href="dashboard.css">
   <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      body{
      background-image:url("chef.jpeg");
      }
      nav{
         background-image:url("chefBlurred.jpeg");
      }
   </style>

</head>

<body>
<div th:insert="index :: navbar">  </div>

   <div class="container">
      <div class="card">
         
         <div class="inner-box" id="card">
            <div class="card-front">
               <h2>Dashboard</h2>
               <form th:object="${sampleInputs}" method="get">
                  <img src="/Users/admin/Desktop/rentChef/img/chefProfile.jpg">
                  <br>
                  <br>
                   <label for="name">Name:</label><a><tr th:each="user: ${user}"><td th:text="${user.username}"></td></tr></a><button class="edit">Change</button>
                  <label for="email">E-mail:</label><a><tr th:each="user: ${user}"><td th:text="${user.email}"></td></tr></a><button class="edit">Change</button>
                  <label for="password">Password:</label>******<button class="edit">Change</button>
                   <label for="location">Location:</label><a><tr th:each="user: ${user}"><td th:text="${user.location}"></td></tr></a><button class="edit">Change</button>
                  <br>

                   <div id="wrap">
      <div id="columns" class="columns_4">

         <!-- Ovdi izmedu u 57oj liniji san maka tekst jer ka vucemo tekst iz baze za ime menia  nezz jel to dobro ili triba i rucno dodat tekst  javi -->
   
         <figure th:each="menus: ${menus}">
            <img src="#">
            <figcaption th:text="${menus.menutype}"></figcaption>
            <span class="price" th:text="${menus.price} + ' $'"><td></td></span >
            <a class="button" th:href="@{/deleteMenu(menuId=${menus.menu_id})}">Delete</a>
            <a class="button" href="#">Edit</a>
         </figure>
  
       </div>

                
 
                       <a class="button" type="submit" th:href="@{/addmenu}">ADD NEW MENU</a>


               </form>
                <div class="no class">
                    <form class="no class" th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign out"/>
                    </form>
                </div>

              
            </div>
         </div>
      </div>
   </div>  
   
   <script>
      $(document).ready(function(){
        $('.btn').click(function(){
          $('.items').toggleClass("show");
          $('ul li').toggleClass("hide");
        });
      });
   </script>

</body>
</html>